{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Вы вошли как {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выход</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, войдите</h1>
    <label for="inputYes">Имя</label>
    <input type="text" value="{{ last_username }}" name="yes" id="inputYes" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Пароль</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Войти
    </button>
    
    <a class="btn btn-lg btn-success mt-2" href="{{ path('app_register') }}">Зарегистрироваться</a>
</form>
{% endblock %}
