{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {
        'attr': {'class': 'form'}
    }) }}
        {{ form_row(registrationForm.yes, {
            'label': 'Имя',
            'attr': {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            'label': 'Пароль',
            'attr': {'class': 'form-control'}
        }) }}
        <div class="form-check">
            {{ form_widget(registrationForm.agreeTerms, {
                'attr': {'class': 'form-check-input'}
            }) }}
            {{ form_label(registrationForm.agreeTerms, 'Согласен с условиями', {
                'label_attr': {'class': 'form-check-label'}
            }) }}
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    {{ form_end(registrationForm) }}
{% endblock %}
